<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.learn.netty_im.mapper.TFriendsRequestMapper" >
  <resultMap id="BaseResultMap" type="com.learn.netty_im.domain.TFriendsRequest" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="send_user_id" property="sendUserId" jdbcType="VARCHAR" />
    <result column="accept_user_id" property="acceptUserId" jdbcType="VARCHAR" />
    <result column="request_date_time" property="requestDateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_friends_request
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.learn.netty_im.domain.TFriendsRequest" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_friends_request (id,send_user_id, accept_user_id, request_date_time
      )
    values (#{id,jdbcType=VARCHAR},#{sendUserId,jdbcType=VARCHAR}, #{acceptUserId,jdbcType=VARCHAR}, #{requestDateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.learn.netty_im.domain.TFriendsRequest" >
    update t_friends_request
    set send_user_id = #{sendUserId,jdbcType=VARCHAR},
      accept_user_id = #{acceptUserId,jdbcType=VARCHAR},
      request_date_time = #{requestDateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, send_user_id, accept_user_id, request_date_time
    from t_friends_request
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, send_user_id, accept_user_id, request_date_time
    from t_friends_request
  </select>

  <select id="selectTFriendsRequestBySendUserIdAndAcceptUserId" resultMap="BaseResultMap">
    select * from t_friends_request
    <where>
      <if test="sendUserId != null and sendUserId !=''">
        and send_user_id = #{sendUserId,jdbcType=VARCHAR}
      </if>
      <if test="acceptUserId != null and acceptUserId != ''">
        and accept_user_id = #{acceptUserId,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <delete id="deleteBySendUserIdAndAcceptUserId" parameterType="com.learn.netty_im.domain.TFriendsRequest" >
    delete from t_friends_request
    <where>
      <if test="sendUserId != null and sendUserId !=''">
        and send_user_id = #{sendUserId,jdbcType=VARCHAR}
      </if>
      <if test="acceptUserId != null and acceptUserId != ''">
        and accept_user_id = #{acceptUserId,jdbcType=VARCHAR}
      </if>
    </where>
  </delete>
</mapper>