<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div style="padding: 20px 0 100px 10px;">
        <ul>
            <h1 style="margin-left: 10px;">欢迎使用~员工角色权限管理平台</h1>
        </ul>
        <br/>
        <ul>
            <h3 style="margin-left: 10px;">备注一：</h3><br/>
            <img src="https://images.gitbook.cn/c449e410-b33b-11e9-985c-f1a9f8921235" />

            <h3 style="margin-left: 10px;">备注二：</h3><br/>
            <img src="https://images.gitbook.cn/cddc25b0-b33b-11e9-84a8-2972098a9052" />

            <h3 style="margin-left: 10px;">备注三：</h3><br/>
            <img src="https://images.gitbook.cn/d58fbc40-b33b-11e9-8857-a9cfb47d2814" />
        </ul>
    </div>
</div>
</body>
</html>