<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="orderServiceImpl" class="com.learn.spring_aop.service.impl.OrderServiceImpl"></bean>
    <bean id="userServiceImpl" class="com.learn.spring_aop.service.impl.UserServiceImpl"></bean>

    <!--定义两个advice-->
    <bean id="logArgsAdvice" class="com.learn.spring_aop.advice.LogArgsAdvice"></bean>
    <bean id="logResultAdvice" class="com.learn.spring_aop.advice.LogResultAdvice"></bean>

    <!--定义两个advisor-->
    <bean id="logArgsAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <!--advisor 实例的内部会有一个advice-->
        <property name="advice" ref="logArgsAdvice"></property>
        <!--只有下面这两个方法会被拦截-->
        <property name="pattern" value="com.learn.spring_aop.service.*.create.*"></property>
    </bean>

    <bean id="logResultAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice" ref="logResultAdvice"/>
        <property name="pattern" value="com.learn.spring_aop.service.*.query.*"/>
    </bean>

    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <!--<bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">-->
        <!--<property name="interceptorNames">-->
            <!--<subMenuList>-->
                <!--<value>logArgsAdvice</value>-->
                <!--<value>logResultAdvice</value>-->
            <!--</subMenuList>-->
        <!--</property>-->
        <!--<property name="beanNames" value="*ServiceImpl"/>-->
    <!--</bean>-->

</beans>